body {
	background-color: white
}

#div1 {
    height: 210px;
	width: 90%;
	padding: 10px;
    margin: 0 auto;
	background-color: hotpink;
    border-style: solid;
	border-width: 5px;
    border-color: black;
}

#mapdiv {
	height: 500px;
	width: 80%;
	margin: 0 auto;
}